.form {
  display: grid;
  gap: 1.5rem;
}

.inputWithLabel {
  display: grid;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.errorMessage {
  color: rgb(200 20 20);
  font-size: 0.75rem;
}
