.listItem {
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 1rem 1.25rem;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.name {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.deleteButton {
  color: rgb(248, 81, 73) !important;
  border: none !important;
}

.deleteButton:hover {
  color: rgb(218, 47, 53) !important;
  background: rgb(255, 240, 240) !important;
}
